* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #281154;
  width: 100%;
  position: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* max-width: 1920px; */
  text-align: center;
  color: white;
  padding: 30px 0;
}

.logo {
  font-size: large;
  font-weight: 500;
}

nav ul {
  display: flex;
  gap: 10px;
  font-size: smaller;
  margin-top: 5px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}

a:hover {
  /* color: aqua; */
  border-bottom: 2px solid rgb(255, 255, 255);
}

/* section-1 */

.section-1 {
  background-image: url(./images/hero_image.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  color: white;
  place-items: center;
  text-align: center;
}

.section-1 .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section-1 h1 {
  font-size: 96px;
}

.section-1 h3 {
  font-size: 32px;
}

.section-1 p {
  width: 70%;
  margin: 0 auto;
  /* border: 1px solid wheat; */
}
#icon {
  display: none;
}
#nav-item {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 450px) {
  .section-1 h1 {
    font-size: 50px;
  }

  .section-1 h3 {
    font-size: 25px;
  }

  .section-1 p {
    width: 90%;
    font-size: smaller;
    margin: 0 auto;
    /* border: 1px solid wheat; */
  }
  .nav-ul a {
    display: none;
  }
  #nav-item {
    display: inline;
    margin: 0px 30px;
    background-color: #281154;
    color: white;
    /* border: 1px solid white; */
    border: none;

    /* padding: 0.5rem 1rem; */
  }
}

.section-2 {
  background-color: #281154;
  background-attachment: fixed;
  padding-top: 30px;
}

.section-2 .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
  color: white;
}

.section-2 h5 {
  width: 90%;
  margin: 0 auto;
}

.section-2 p {
  color: lavender;
  font-size: smaller;
}

.button-1 {
  width: auto;
  height: 50px;
  margin: 0 auto;
  background-color: rgb(242, 61, 61);
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.button-1:hover {
  background-color: rgb(241, 60, 60);
  color: black;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {
}

/* 
.section-3{
 
  padding-top: 50px;

}

.section-3 .container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  width: 50%;
  line-height: 2;
  
} */
